*{
	margin: 0px;
	padding: 0px;
}

.navbar-custom{

  background-color: green;
  min-height: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;

}
.container-custom {

	/*background-color:#1cc222;*/
}
.main_content{
background-color: #fff;

}
.nav_header{

}

h1
{
	color: #777;
}

h1.logo{

	padding-left:50px;
	color: #fff;
}

.navbar-form p,.navbar-form p a{

	color: #fff;
}

.navbar-form{
	padding-top: 12px;
}

.form-group p .form-control{

height: 40px;
margin-bottom: 20px;
}
.signupform
{
	margin-top: 40px;
}

div.form-group input.form-control{
margin-left: 10px;
margin-right: 10px;
}

.logincustom{
padding-left: 110px;
}

footer{
	clear:both;
	text-align:center;
	padding:20px;
}


