*{
	margin: 0px;
	padding: 0px;
}

.custom_header{
	
	text-align: center;
	background: green;
	padding-top: 10px;
	padding-bottom:10px;
	font: bold 30px Tohoma;
}
.main_body{
	
	background: #fff;
	padding-top: 20px;
	border-radius: 25px;
}
.menu{
	text-align: center;
}
.section{

	background: #f6f7f8;
	padding-top:10px;
	border-radius:25px;
	padding-left: 20px;
	padding-right: 50px;

}
.aside{
	text-align:center;
}