*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #f7f7f7;
}
.logo{
margin-top:8px; 
font:bold 20px Tohoma;
}

.custom_header{
	
	text-align: center;
	background: #3b5998;

	font: bold 30px Tohoma;
}
.main_body{
	
	
	padding-top: 20px;

}
.menu{
	text-align: left;
	padding-left:80px;
}
.section{


	padding-top:10px;
	
	padding-left: 20px;
	padding-right: 50px;

}
.aside{
	text-align:center;
	font-family: Tohoma;
}
textarea{
	padding-left: 10px;
	border:0px auto;
}



span.popups:hover {

 }

span.popup:hover {

 }


.status{
	height:100px;
	background: #fff;

}
.status_below{
	height: 40px;
	background:  #E6E6E6;
}


h4:hover { background-color: #D9D9D9; }
p:hover{
	background-color: #D9D9D9;
}



